.gallery__image {
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.galerry-list {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
}

.gallery__link {
    border: none;
}

.modal {
    width: 1000px;
    height: 1000px;
    background-color: aliceblue;
    display: flex;
    text-align: center;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-button {
    width: 50px;
    height: 50px;
    padding: 50px 50px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(58, 56, 56, 0.452);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-hidden {
    display: none;
    pointer-events: none;
    visibility: hidden;
}

.modal-img {
    outline: solid red;
    width: 600px;
    height: 300px;
}